
body {
    background: #FEFEFD;
    padding: 30px;
}



section {
    width: 100%;
}

th,
td {
    padding: 15px;
    border-bottom: 1px solid black;
}

tr:hover {
    background-color: #258EAD;
}

input[type=text],
input[type=number|email] {
    width: 25%;
    padding: 5px 5px;
    box-sizing: border-box;
}

input[type=text|number]:focus {
    border: 3px solid blue;
}

label {
    padding: 12px 10px;
}



.colorceldsprintfa {
    background: #9999FF;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.miformulario {
    width: 100%;
}

.errorlist li {
    color: red;
}

.top_menu ul {
    list-style: none;
    float: left;
    padding: 5px;
    width: 95%;
}

.top_menu ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    text: #FFF;
}

footer {
    background: #5E5E5E;
    color: #FFF;
}


.wrapper-dos-columnas {
    margin: 15px;
    background-color: rgb(83, 83, 83);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.izquierda-column {
    background-color: #FFF;
    height: 200px;
}

.derecha-column {
    background-color: #FFF;
    height: 200px;
}

.card-img-top {
    width: 50px;
    height: 50px;
}

.navbar {
    padding: 50px;
}

.cabeza {
    background-color: rgb(50, 225, 114);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.cabeza:hover {
    background-color: #000000;
    /* Green */
    color: white;
}

li {
    list-style: none;
    padding-top: 100px;
    padding: 10px;
    display: inline;
    float: right;
}

header {
    background-color: antiquewhite;
    padding: 40px;
    height: 70px;
    width: auto;
}

.numedi {
    padding: 20px;
    background-color: rgb(112, 128, 117);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.botondi {
    background-color: rgb(50, 225, 114);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.bots {
    font-weight: bold;
    display: inline;
}

.agg {
    background-color: #4bede5;
    width: 100px;
    color: #981891a4;
    height: 30px;
    cursor: pointer;
    font-weight: bold
}

.agg:hover {
    background-color: #000000;
    /* Green */
    color: white;
}

.botonv {
    text-decoration: none;
    background-color: #4bede5;
}

.botonr {
    text-decoration: none;
    background-color: #ff2f2f;
    color: #FFF;
}

.botone {
    text-decoration: none;
    background-color: #8cdb3e;
    color: #FFF;
}